// Pixel-size
$icon-size: 34px;
$header-margin-top: 26px;
$border-radius-btn: 60000px;
$footer-bottom: percentage(4/12);

// Colors
$blue-one: #076fd0;
$orange-one: #ff9900;
$white: #fff;
$btn-standard: #06e0d9;
$btn-sp: #ffa300;
$blue-dark: #085dac;
$blue-tab: #05d9d1;
$gray-one: #666;

// Sprite
$hover-y-value: -41px;